/* WEBSITE */
:root{
    font-size:16px;
    --backcolor: #181818;
    --backcolornav: #202020;
    --mainwhite: #faf5f5;
    --mainpurple: #452c63;
    --secondarypurple: #33006F;
    --thirdpurple: #720e9e;
    scroll-behavior: smooth;
    font-family: monospace;   
    overflow-x: hidden; 
    
}

body {
    background: var(--backcolor);
    font-size: 16px;
    margin: 0;
    padding: 0;
    text-align: center;
    color: var(--mainwhite);
    display: flex;
    font-family: monospace;
}

.radial-gradient {
    position:fixed;
    top:0px;
    left:0px;
    height:100%;
    width:100%;

    background-color: #33243b;
    background-image: linear-gradient(315deg, #33243b 0%, #1a131a 50%);
    z-index: -1;
  }

body::-webkit-scrollbar{
    width: 0.35rem;
    border-radius: 50%;
}

body::-webkit-scrollbar-track{
    background: var(--mainwhite);
}

body::-webkit-scrollbar-thumb{
    background: var(--mainpurple);
}

.cursor {
  position: fixed;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  left: -100px;
  top: 50%;
  mix-blend-mode: difference; 
  background-color: transparent;
  z-index: 2;
  border: 1px solid var(--mainwhite);
  height: 30px;
  width: 30px;
  transition: all 200ms ease-out;
  backdrop-filter: blur(2px);
}

.little-cursor {
  position: fixed;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  left: -100px;
  top: 50%;
  mix-blend-mode:luminosity; 
  background-color: transparent;
  z-index: 2;
  border: 1px solid var(--mainwhite);
  height: 2px;
  width: 2px;
  transition: all 300ms ease-out;
  backdrop-filter: blur(2px);
}


/* HEADER - NAVIGATION BAR */
/*
#main-head {
    background-color: var(--backcolornav);
    overflow: hidden;
    position: fixed;
    margin: 1rem;
    margin-top: 0;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    transition: all 0.5s;
    box-shadow: 0 0 50px 0 black;
    border-radius: 0 0 10px 10px;
    z-index: 1;
}
*/
#main-head {
  background-color: var(--backcolornav);
  overflow: hidden;
  position: fixed;
  margin: 1rem;
  margin-top: 0;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Align logo to the left and navigation to the right */
  transition: all 0.5s;
  box-shadow: 0 0 50px 0 black;
  border-radius: 0 0 10px 10px;
  z-index: 1;
}

#logo {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
    margin-left: 40px;
}

#logo img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 1px solid var(--mainpurple);
    /*-webkit-animation: rotating 10s ease infinite;
    animation: rotating 10s ease infinite;*/
    box-shadow: 0 0 1rem 0 var(--backcolor);
    transition: transform 0.5s ease;
}


#main-head * {
    display:inline;
}
/*
#nav-ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0 5rem;
}
*/
#nav-ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

/*
.nav-li {
    margin:1.5rem;
}*/
.nav-li {
  margin: 0 1.5rem; /* Adjust margin for better spacing */
}

.nav-li a {
    text-decoration: none;
    color: var(--mainwhite);
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
    font-size: 1.3rem;
    font-family: 'Raleway';
}

li a:hover {
    opacity: 0.60;
}


.selected{
  opacity: 1;
  animation-name: selected_link;
  animation-duration: 1s;
  animation-direction : normal;
  animation-fill-mode: forwards;
}


/* CONTENT VIEW*/
#main{
    margin:0;
    width: 100%;
    padding: 1rem;
    padding-top:0;
    padding-bottom: 0;
}


/* HOME SECTION */
#Home{
    width:100%;
    height:100vh;
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
}


.name{
  font-size: 5vw;
  font-family: 'Comfortaa';
  color:#fff;
  animation-name: fadein;
  animation-duration: 2s;
  animation-direction : alternate;
  animation-iteration-count: 1;
  position: absolute;
  display:contents;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  left:50%;
  transform: translateX(-50%);
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
  padding: 0;
  margin: 0;
  text-shadow: 0px 50px 40px rgba(0,0,0,0.5);
  letter-spacing: 10px;
}

.name .word{
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
}


#name:has(.fancy:hover) .word:not(.fancy:hover){
  opacity: 0.3; 
  color: #bab;
}

.fancy > .letter {
  display: inline-block;
  color: var(--mainwhite);
  transition: all 0.5s ease;
}

#top-name{
  opacity: 80%;
}

#bottom-name{
opacity: 80%;
}


#top-name:hover > .letter:nth-child(1) {
  transform: translate(-30%,10%) rotate(20deg);
  transition-duration: 500ms;
  transition-delay: 500ms;
}

#top-name:hover > .letter:nth-child(2) {
  transform: translate(-25%,-15%) rotate(-15deg);
  transition-duration: 500ms;
  transition-delay: 1200ms;
}

#top-name:hover > .letter:nth-child(3) {
  transform: translate(-20%,0%) rotate(5deg);
  transition-duration: 500ms;
  transition: 1s ease-in-out;
  transition-delay: 1500ms;
}

#top-name:hover > .letter:nth-child(4) {
  transform: translate(-15%,15%) rotate(-10deg);
  transition-duration: 500ms;
  transition-delay: 2500ms;
}

#top-name:hover > .letter:nth-child(5) {
  transform: translate(-10%,5%) rotate(10deg);
  transition-duration: 500ms;
  transition-delay: 2000ms;
}

#top-name:hover > .letter:nth-child(6) {
  transform: translate(-5%,-20%) rotate(-20deg);
  transition-duration: 500ms;
  transition-delay: 3000ms;
}

#top-name:hover > .letter:nth-child(7) {
  transform: translate(0%,0%) rotate(0deg);
  transition-duration: 0ms;
}


#top-name:hover > .letter:nth-child(8) {
  transform: translate(5%,20%) rotate(15deg);
  transition-duration: 500ms;
  transition-delay: 3000ms;
}

#top-name:hover > .letter:nth-child(9) {
  transform: translate(10%,-10%) rotate(10deg);
  transition-duration: 500ms;
  transition-delay: 2700ms;
}

#top-name:hover > .letter:nth-child(10) {
  transform: translate(15%,-20%) rotate(-5deg);
  transition-duration: 500ms;
  transition-delay: 2200ms;

}

#top-name:hover > .letter:nth-child(11) {
  transform: translate(20%,-10%) rotate(10deg);
  transition-duration: 500ms;
  transition-delay: 2000ms;

}

#top-name:hover > .letter:nth-child(12) {
  transform: translate(25%,10%) rotate(-10deg);
  transition-duration: 500ms;
  transition-delay: 1000ms;
}

#top-name:hover > .letter:nth-child(13) {
  transform: translate(30%,-10%) rotate(-15deg);
  transition-duration: 500ms;
  transition-delay: 200ms;
}

#bottom-name:hover{
  animation-duration: 1s;
  animation-direction : normal;
  animation-fill-mode: forwards;
}

#bottom-name:hover > .letter:nth-child(1) {
  transform: translate(-100%,0%) rotate(0deg);
  transition-duration: 500ms;
  transition-delay: 500ms;
}
#bottom-name:hover > .letter:nth-child(2) {
transform: translate(-50%,0%) rotate(0deg);
transition-duration: 500ms;
transition-delay: 1500ms;
}
#bottom-name:hover > .letter:nth-child(3) {
transform: translate(0%,0%) rotate(0deg);
transition-duration: 250ms;
}
#bottom-name:hover > .letter:nth-child(4) {
transform: translate(50%,0%) rotate(0deg);
transition-duration: 500ms;
transition-delay:1500ms;

}
#bottom-name:hover > .letter:nth-child(5) {
transform: translate(100%,0%) rotate(0deg);
transition-duration: 500ms;
transition-delay:500ms;
}


/* PROJECTS SECTION */
#Projects {
  width:100%;
  height:100vh;
  display:flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
}

#projects-header {
  font-size: 1.5vw;
  font-family: 'Oswald';
}


#projects-container {
  display: grid;
  width: 90%;
  /*grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));*/
  grid-template-columns: repeat(3,1fr);
  grid-gap: 30px;
}

.project {
  background: rgba(255, 255, 255, 0.18);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.31);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  flex-direction: column;
  overflow: hidden;
}

.project-info {
  color: var(--mainwhite);
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 10px;
  padding-bottom: 10px;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;    
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
}

.project-name {
  font-size: 1.2rem; 
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 5px;
  font-family: 'Comfortaa';
}

.project-description {
  font-size: 1rem; 
  text-transform: lowercase;
}

.project-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit:cover;
  border-radius: 16px;
  transition: transform 0.3s ease; 
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
}



.project:hover .project-img {
  opacity: 0.8;
  cursor: pointer;
  transform: scale(1.1);
  filter: blur(1px);
}


/* CONTACT SECTION */
#Contact{
  width:100%;
  height:100vh;
  display:flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
}

#social-ul {
    position:absolute;
    transform:translate(-50%,-50%);
    margin:0;
    padding:0;
    display:flex;
  }

  #social-ul li{
    list-style:none;
  }

#social-ul li a{
    display:block;
    position:relative;
    width:100px;
    height:100px;
    line-height:100px;
    font-size:40px;
    text-align:center;
    text-decoration:none;
    color:var(--mainwhite);
    margin: 0 30px;
    transition:.5s;
}

ul li a span {
    position:absolute;
    transition: transform .5s;
  }

  ul li a span:nth-child(1),
  ul li a span:nth-child(3){
    width:100%;
    height:3px;
    background:var(--mainwhite);
  }
  ul li a span:nth-child(1) {
    top:0;
    left:0;
    transform-origin: right;
  }
  ul li a:hover span:nth-child(1) {
    transform: scaleX(0);
    transform-origin: left;
    transition:transform .5s;
  }
  
  ul li a span:nth-child(3) {
    bottom:0;
    left:0;
    transform-origin: left;
  }
  ul li a:hover span:nth-child(3) {
    transform: scaleX(0);
    transform-origin: right;
    transition:transform .5s;
  }
  
  ul li a span:nth-child(2),
  ul li a span:nth-child(4){
    width:3px;
    height:100%;
    background:var(--mainwhite);
  }
  ul li a span:nth-child(2) {
    top:0;
    left:0;
    transform:scale(0);
    transform-origin: bottom;
  }
  ul li a:hover span:nth-child(2) {
    transform: scale(1);
    transform-origin: top;
    transition:transform .5s;
  }
  ul li a span:nth-child(4) {
    top:0;
    right:0;
    transform:scale(0);
    transform-origin: top;
  }
  ul li a:hover span:nth-child(4) {
    transform: scale(1);
    transform-origin: bottom;
    transition:transform 0.5s;
  }
  
  .facebook:hover {
    color: #3b5998;
  }
  .facebook:hover span { 
    background: #3b5998;
  }
  .github:hover {
    color: var(--mainwhite);
  }
  .github:hover span { 
    background: var(--mainwhite);
  }
  .instagram:hover {
    color: #c32aa3;
  }
  .instagram:hover span { 
    background: #c32aa3;
  }
  .linkedin:hover {
    color: #0072b1;
  }
  .linkedin:hover span { 
    background: #0072b1;
  }
  ul li a .github {
    color: var(--backcolornav);
  }
  ul li a:hover:nth-child(3) {
    color: #c32aa3;
  }
  ul li a:hover:nth-child(4) {
    color: #dd4b39;
  }




/* KEYFRAMES */

@keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }


    100% {
        opacity: 1;
    }
}

@keyframes selected_link {
    0% {
        opacity: 10%;
    }

    100%{

        /*text-shadow: 0 0 1px var(--thirdpurple), 0 0 15px var(--thirdpurple), 0 0 20px var(--thirdpurple), 0 0 40px var(--thirdpurple), 0 0 60px var(--mainpurple), 0 0 10px var(--secondarypurple), 0 0 98px var(--secondarypurple);*/
        text-shadow: 0 0 0 var(--thirdpurple), 0 0 15px var(--thirdpurple), 0 0 5px var(--thirdpurple), 0 0 10px var(--thirdpurple), 0 0 10px var(--mainpurple), 0 0 10px var(--secondarypurple), 0 0 10px var(--secondarypurple);
    }
    
}



/* MEDIA QUERIES - MAKE THE SITE RESPONSIVE */
@media only screen and (max-width: 600px) {
    .name{
        font-size: 7vw;
    }

    #projects-container{
        width: 75%;
    }
}

@media only screen and (max-width: 400px) {
    .name{
        font-size: 5vw;
    }
}

